In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [ ]:
df = pd.read_csv("yellow_taxi_2020.csv",nrows=100)

In [10]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [13]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:airflow@localhost:5432/ny_taxi")

In [14]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_2020",con=engine))

CREATE TABLE yellow_taxi_2020 (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [16]:
df_iter = pd.read_csv("yellow_taxi_2020.csv",iterator=True,chunksize=100000)

In [17]:
df_iter

In [18]:
df = next(df_iter)

In [19]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,01/01/2020 12:28:15 AM,01/01/2020 12:33:03 AM,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,01/01/2020 12:35:39 AM,01/01/2020 12:43:04 AM,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,01/01/2020 12:47:41 AM,01/01/2020 12:53:52 AM,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,01/01/2020 12:55:23 AM,01/01/2020 01:00:14 AM,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,01/01/2020 12:01:58 AM,01/01/2020 12:04:16 AM,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2.0,01/01/2020 02:01:08 PM,01/01/2020 02:11:13 PM,1.0,1.89,1.0,N,143,151,1.0,9.5,0.0,0.5,3.20,0.0,0.3,16.00,2.5
99996,2.0,01/01/2020 02:16:00 PM,01/01/2020 02:20:39 PM,1.0,1.15,1.0,N,238,239,1.0,6.0,0.0,0.5,1.86,0.0,0.3,11.16,2.5
99997,2.0,01/01/2020 02:38:25 PM,01/01/2020 02:51:13 PM,1.0,2.81,1.0,N,151,43,1.0,12.0,0.0,0.5,2.30,0.0,0.3,17.60,2.5
99998,2.0,01/01/2020 02:55:54 PM,01/01/2020 03:00:16 PM,1.0,1.17,1.0,N,239,48,1.0,5.5,0.0,0.5,1.30,0.0,0.3,10.10,2.5
99999,2.0,01/01/2020 02:12:36 PM,01/01/2020 02:20:50 PM,1.0,1.25,1.0,N,48,162,1.0,7.0,0.0,0.5,1.03,0.0,0.3,11.33,2.5

In [20]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

/tmp/ipykernel_13453/2632087172.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
/tmp/ipykernel_13453/2632087172.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [21]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [22]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [23]:
# just want to create table 
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine,if_exists='replace')

0

In [24]:
%time df.to_sql(name="yellow_taxi_data",con=engine,if_exists='append')

CPU times: user 6.39 s, sys: 129 ms, total: 6.52 s
Wall time: 10.1 s

1000

In [25]:
from time import time

In [26]:
while True:
    start_time = time()

    df = next(df_iter)

    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    
    df.to_sql(name="yellow_taxi_data",con=engine,if_exists='append')

    end_time = time()

    print(f"Inserted the chunk in {end_time-start_time}.....")

/tmp/ipykernel_13453/4248158407.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
/tmp/ipykernel_13453/4248158407.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

Inserted the chunk in 23.29375720024109.....
Inserted the chunk in 10.484472274780273.....

/tmp/ipykernel_13453/4248158407.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
/tmp/ipykernel_13453/4248158407.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

Inserted the chunk in 24.198824405670166.....

/tmp/ipykernel_13453/4248158407.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
/tmp/ipykernel_13453/4248158407.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

Inserted the chunk in 23.913514852523804.....

/tmp/ipykernel_13453/4248158407.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
/tmp/ipykernel_13453/4248158407.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

Inserted the chunk in 23.64865279197693.....

/tmp/ipykernel_13453/4248158407.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
/tmp/ipykernel_13453/4248158407.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)